*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#back{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(255, 188, 4),rgb(240, 181, 18),rgb(131, 131, 131),rgb(240, 181, 18),rgb(240, 181, 18));
}

#back h6{
    position: absolute;
    font-size: 20px;
    top: 95%;
    left: 80%;

}

#tamplate{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    width: 90%;
    background-color: white;
}

#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 50%;
    /* background-color: aqua; */
    margin: 10px 0px 0px 40px;
}

#box1{
    height: 90%;
    width: 20%;
    /* background-color: blue; */
}

#box1 h2{
    text-decoration: underline;
    margin: 10px 0px 0px 20px;
}

#box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 75%;
    /* background-color: green; */
    
}

#cutbox{
    display: flex;
    height: 30%;
    width: 40%;
    background-color: rgb(139, 8, 8);
    border-radius: 50px 0px 0px 0px;
}

#cutbox input[type='text']{
    margin: 30px 0px 95px 170px;
    padding: 7px 0px 7px 10px;
    border-radius: 20px;
    outline: none;
}

#cutbox #icon1{
    font-size: 25px;
    margin: 30px 0px 0px 30px;
}

#cutbox #icon2{
    font-size: 25px;
    margin: 30px 0px 0px 25px;
}

#sidebar{
    /* display: flex; */
    position: absolute;
    top: 30%;
    left: 93%;
    height: 70%;
    width: 7%;
    /* background-color: coral; */
}

#sidebar h3{
    margin: 80px 0px 0px 0px;
    transform: rotate(90deg);
}



#nav{
    display: flex;
    position: absolute;
    top: 15%;
    height: 85%;
    width: 93%;
    background-color: rgba(165, 165, 165, 0.404);
    border-radius: 0px 50px 0px 0px; 
}

#nav h4{
    position: absolute;
    top: 90%;
    left: 87%;

}

#nav h4 #aro{
    position: relative;
    top: 2.1px;
}

#nav #smlbox1{
    height: 70%;
    width: 60%;
    /* background-color: firebrick; */
}

#halfbox{
    height: 70%;
    width: 80%;
    /* background-color: hotpink; */
    margin: 50px 0px 0px 57px;
    padding: 20px 0px 0px 0px;
}

#halfbox h1{
    font-size: 52px;
    color: rgb(110, 8, 8)
}

#halfbox h3{
    font-size: 32px;
    color: rgb(216, 158, 0)
}

#halfbox p{
    margin: 5px 0px 0px 0px;
    font-size: 15px;
}

#halfbox h2{
    font-size: 32px;
    font-weight: 600;
}

#halfbox button{
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

#halfbox h5{
    position: relative;
    top: -25px;
    left: 120px;
    text-decoration: line-through;
}



#nav #smlbox2{
    position: absolute;
    left: 64.52%;
    height: 80%;
    width: 35.48%;
    /* background-color: rgb(27, 26, 26); */
    border-radius: 0px 0px 0px 50px;
}

#circle{
    position: relative;
    top: 38%;
    left: -6%;
    height: 50px;
    width: 50px;
    background-color: rgb(128, 4, 4);
    border-radius: 50%;
    z-index: 9999;
}

#circle #arrow{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#lay{
    position: relative;
    top: -49.5px;
    left: -.2px;
    height: 330.1px;
    width: 405.3px;
    /* background-color: blueviolet; */
    background-image: url('shooes.jpg');
    background-size: 400px;
    background-position-y: center;
    background-position-x: center;
    border-radius: 0px 50px 0px 50px;
    border: none;
}

